
.jumbotron {
  font-family: "Raleway";
  background-color: #cc0000;
  color: azure;
  border-style: dotted;
}


body {
  background-color: #e8e8e8;
}

.map {
  width:100%;
}
.location-time-map {
  width: 100%;
}

iframe {
  border: 0;
  width: 100%;
}
.post{
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
  padding: 2%;
  margin: 2%;
}
.time{
  color: darkgray;
}
.form{
  padding: 5%;
}

.footer p {
  color: black;
  font-size: 12px;
}

.report {
  text-align: right;
}

.location-time-report{
  display: flex;
}

.location-time {
  width: 200px;
}
.report {
  flex: 1;
}
