html {

}

.jumbotron {
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: #cc0000;
}

body {
	background-color: #e8e8e8;
}

.map {
	width:100%;
}
.location-time-map {
  width: 100%;
}

iframe {
	border: 0;
	width: 100%;
}
