.post{
  margin: auto;
}
.location-time-map{
  width: 100%;
}
.location-time{
  height: 50%;
  width: 50%;
}
.location-format{
  float: left;
  padding: 5%;
}
.map{
  float: right;
}
.desc{
  width: 100%;
}
